.button1, .button2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.button1 {
    background-color: yellow;
}

.button2 {
    background-color: white;
}