.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.setValueCounter , .counter {
    margin: 20px;
}

.body {
    border: 3px solid blue;
    width: 460px;
    height: 280px;
    border-radius: 10px;
    background-color: aliceblue;
}
.subBody {
    border: 1px solid blue;
    width: 420px;
    height: 140px;
    border-radius: 10px;
    margin: 20px;
    background-color: lightgray;

}
.button-border{
    border: 1px solid blue;
    width: 420px;
    height: 60px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    background-color: lightgreen;
}
.inc, .reset , .buttonSet {
    width: 140px;
    height: 40px;
    margin: 10px;
    font-size: 30px;
    font-family: 'Neucha', cursive;
    /*border-radius: 10px;*/
}

.count{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}
.titleMax, .titleStar{
    font-size: 30px;
    margin: 20px;
    color: blue;
    font-family: 'Neucha', cursive;

}

.inputMax, .inputStar{
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;

}
.inputMax{
    margin-left: 120px;
}
.inputStar{
    margin-left: 118px;
}
.errorValue{
    font-size: 40px;
    color: red;
}
